[submodule "lib/git-hooks"]
	path = lib/git-hooks
	url = git@github.com:generoi/git-hooks.git
[submodule "lib/genero-conf"]
	path = lib/genero-conf
	url = git@github.com:generoi/genero-conf.git
[submodule "lib/capistrano"]
	path = lib/capistrano
	url = git@github.com:generoi/capistrano-tasks.git
